Añadir comentario: <br />
<form action="/quizes/<%= quizid %>/comments" method="post">
  <input id="comment" type="text" name="comment[texto]" value="" /><br />
  <button type="submit" name="button">Enviar</button>
</form>
