<h3>Página de créditos del proyecto <%= nombre %></h3>
<div id="img-autor">
  <p>Autor:  <%= autor %></p>
  <img src="/images/hsimpson.jpg" alt="Mountain View" style="width:90px;height:96px;">
  <p><a href="https://www.youtube.com/watch?v=fFvFm9WXcI0" target="_blank"> video (opcional) </a></p>
  <div>
