<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>Portal donde podrá crear sus propio juegos!</p>
    <p><a href="/quizes/question">Comenzar a  jugar! </a></p>
  </body>
</html>
