<!DOCTYPE html>
<html lan='en'>
  <head>
    <meta charset="utf-8">
    <title>Preguntas</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css"
          media ="only screen and (min-width: 530px)
          and (min-device-width: 481px)"
           href="/stylesheets/wide.css"/>
   <link rel="stylesheet"  type="text/css"
          media='only screen and (max-width: 480px)'
          href="/stylesheets/smartphone.css" />



  </head>
  <body>
    <div id="page-wrap">
      <header>
        <h1><b>QUIZ :</b> el juego de las preguntas!</h1>

      </header>
          <nav class="main" id="h1" role="navigation">
            <span><a href="/">Inicio</a></span>

            <span><a href="/quizes/question">Preguntas</a></span>
            <span><a href="/autor">Créditos</a></span>
          </nav>

      <section class="main" id="s1">
            <div><%- body %></div>

        <div><table>
            <tr><td><a href="quizes/1">Capital de Italia    </a> </td></tr>
            <tr><td><a href="quizes/2">Capital de Portugal  </a> </td></tr>
        </table></div>
      </section>

      <footer class="main" id="f1">
              <a href="https://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un Quiz?
              </a><br>
              <a href="https://github.com/tspeu/Proyecto-Quiz-Miriada" target="_blank">
                Enlace GitHub  Miriada Modulo 6
              </a>
      </footer>

    </div>
  </body>
</html>
