* {
  margin:0;
  padding:0;
}

body{font: 16px "Lato", sans-serif;
}

#page-wrap {
  margin : 2% auto;
  color: #3498db;
}

h1 {
  font-size: 40px;
}

#page-wrap > .main{
  border :1px solid #999;
  padding :1%;
  margin-bottom: 1px;
  color: #3498db;
}

section > div{
  padding: 20px;
}

header, nav, section ,footer{
  background: #eee;
  text-align: center;
}
nav span{
  margin: 0px 10px 0px 0px;
}

#ErrorMsgs {
  color: #61;
  font-size: smaler;
}
