<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QUIZ></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>QUIZ: el juego de las preguntas </h2>

    <h1> <%= respuesta %>  </h1>
    <a href ="/quizes/question"> Pruebe otra vez </a><br>
    <a href ="../"> Volver a inicio </a>

  </body>
</html>
