
      <form method="GET" action ="/quizes/answer">
          <h2> Pregunta:  <%=  pregunta %></h2><br>
          <h2>Respuesta: </h2>
          <input  style="font-size:18px" type ="text" name="respuesta" value="responda aquí, por favor!" />
          <input type ="submit" value=" enviar " style="font-size:18px" />
    </form>
