
      <form method="GET" action ="/quizes/answer">
          <h2> Pregunta:  <%=  pregunta %></h2>
          <input type ="text" name="respuesta" value="su respuesta, por favor!" />
          <input type ="submit" value="enviar" />
    </form>
