<h2>Login</h2>

<<<<<<< HEAD
<form  action="/login" method="post">
  <div class="field">
    <label for="login">Login:</label><br/>
=======
<form class="" action="/login" method="post">
  <div class="field">
    <label for="login">Login:</label><br />
>>>>>>> 6f477f96e5b9396477f248ddb6a05c386fe8a624
    <input type="text" id="login" name="login" size="30" />
  </div>

  <div class="field">
    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" size="30" />
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Login" />
  </div>
</form>
